/addinteger.java
/asciivalue.java
/assignmentoperator.java
/chararray.java
/chatbot.java
/checkoddev.java
/checkvowel.java
/factorial.java
/forarrayprint.java
/forloop.java
/helloworld.java
/leapyear.java
/Mainpattern.java
/multiplytable.java
/MultiplyTwoNumbers.java
/nestedif.java
/pattenthree.java
/pattern4.java
/pattern5.java
/patternfive.java
/patterntwo.java
/pattern_five.java
/practise1.java
/printnumber.java
/quorem.java
/recursionfact.java
/Room.java
/solution.java
/swapping.java
/swapwithout.java
/ternaryoperator.java